@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 max-w-[1440px] w-full mx-auto;
  }

  .subtext {
    @apply font-plusJakarta text-sm font-bold tracking-[4%] leading-[120%];
  }

  .heading1 {
    @apply font-plusJakarta text-7xl font-semibold -tracking-[3%] leading-[120%];
  }

  .heading2 {
    @apply font-plusJakarta text-[3.25rem] font-semibold -tracking-[3%] leading-[120%];
  }

  .heading3 {
    @apply font-plusJakarta text-[2rem] font-semibold -tracking-[3%] leading-[130%];
  }

  .para-mediumn {
    @apply font-plusJakarta font-medium text-xl leading-[130%] -tracking-[-2%];
  }

  .para-small {
    @apply font-plusJakarta font-medium text-sm leading-[22px];
  }

  .para-regular {
    @apply font-plusJakarta font-medium text-base;
  }

  .btn-primary {
    @apply font-plusJakarta font-sans text-base text-white px-8 py-[14px] rounded-full border-none;
  }
}
